* {
    box-sizing: border-box;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
}

button, input[type="submit"], input[type="reset"] {
    background-color: #3b8aca;
    cursor: pointer;
    outline: none;
    padding: 10px;
    width: 150px;
    margin-bottom: 10px;

    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
}

button:hover {
    transform: scale(1.1);
}

main {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    width: 100%;
}

input[type="text"] {
    height: 50px;
    padding-left: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 25%;
}

input[type="text"]:focus {
    outline: none;
}

label {
    margin-bottom: 10px;
}

form > div {
    margin-bottom: 15px;
}

span {
    color: #3b8aca;
    font-style: italic;
    text-decoration: underline;
}